<div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <%= link_to user do %>
      <%= image_tag user.image_url || "default_profile_image.jpeg", class: "card-img-top" %>
    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%= link_to user.name, user %></h5>
      <p class="card-text">Number of posts: <%= link_to user.posts.size, posts_url(user_id: user.id) %></p>
    </div>
  </div>
</div>